* text=auto eol=lf
*.ts linguist-detectable=true
*.tsx linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=true
*.vue linguist-detectable=false
*.html linguist-detectable=false
*.json linguist-detectable=false
